.register_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../public/assets/log_images.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.774);
}

.register{
    width: 400px;
    height: fit-content;
    background-color: #222A27;
    backdrop-filter: blur(1px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(13, 16, 15, 0.2), -5px -5px 10px rgba(13, 16, 15, 0.2), 5px -5px 10px rgba(53, 66, 61, 0.9), -5px 5px 13px rgba(13, 16, 15, 0.9), inset -1px 1px 2px rgba(53, 66, 61, 0.3), inset 1px -1px 2px rgba(13, 16, 15, 0.5);

}

.logo{
    margin-top: 40px;
    width: 80px !important;
    height: 80px !important;
}


.register_Header{
    text-align: center;
    margin:20px ;
    color: #39B54A;
    font-size: 20px;
    font-weight: 500;
}

.register_Input{
    width: 100%;
    position: relative;
    justify-content: center;
    margin-left: 8%;
}

.register_Inputfields{
    width: 73%;
    height: 10px;
    padding:25px 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    position : relative;
    font-size: 15px;
    background-color: #292929;
    box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.3), -1px -1px 2px rgba(31, 31, 31, 0.5), inset -5px 5px 10px rgba(31, 31, 31, 0.2), inset 5px -5px 10px rgba(31, 31, 31, 0.2), inset -5px -5px 10px rgba(51, 51, 51, 0.9), inset 5px 5px 13px rgba(31, 31, 31, 0.9);
    border-radius: 10px;
    color:rgb(192, 192, 192);
}

.label_Icon{
    position: absolute;
    bottom:16px;
    left: 8px;
    color: rgb(192, 192, 192);
}

.iconify{
    width: 1.3rem;
    height: 1.3rem;
}

.register_Submit{
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #39B54A;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(95, 179, 144, 0.2);
    box-sizing: border-box;
    box-shadow: -2px 2px 4px rgba(36, 75, 39, 0.2), 2px -2px 4px rgba(36, 75, 39, 0.2), -2px -2px 4px rgba(150, 255, 140, 0.9), 2px 2px 5px rgba(36, 75, 66, 0.9), inset 1px 1px 2px rgba(140, 255, 255, 0.3), inset -1px -1px 2px rgba(36, 75, 66, 0.5);
}

.register>p{
    text-align: center;
    margin:10px ;   
    color : white; 
}

.register_Switch{
    color: whitesmoke;
    font-weight: 300;
}

.register_Switch>a{
    text-decoration: none;
    color: #39B54A;
    font-weight: bold;
}
