.sidebar{
    height: 100vh;
    min-width: 330px;
    background-color: #212926; 
    box-shadow: 5px 5px 10px rgba(13, 16, 15, 0.2), -5px -5px 10px rgba(13, 16, 15, 0.2), 5px -5px 10px rgba(53, 66, 61, 0.9), -5px 5px 13px rgba(13, 16, 15, 0.9), inset -1px 1px 2px rgba(53, 66, 61, 0.3), inset 1px -1px 2px rgba(13, 16, 15, 0.5);
}

.sidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    background-color: #212926;
}

.sidebarLogodiv{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #222C33;
    margin-bottom:40px ;
    height: 140px;
}

.sidebarLogotext{
  text-align:justify;
  font-size: 28px;
  color: #939598;
  margin-top: 10px;
  font-weight: 600;
  text-shadow: 1px solid #000000;
  background-color: #222C33;
}

.sidebarLogo{
    width: 70px !important;
    height: 70px !important;
    margin: 15px 10px 15px 0px;
    background-color: #222C33;
}

.sidebarList .row{
    width: 100%;
    height: 50px;
    color: #939598;
    list-style-type:none ;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
}

.row #icon{
    flex:30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex:70%;
}

.sidebarList .row:hover {
    cursor: pointer;
}

.sidebarList #active{
    color: #39B54A;
    border-left: 20px solid #39B54A;  
}

.sidebar_Signout{
    width: 99%;
    height: 50px;
    background: #222A27;
    border: 1px solid rgba(117, 240, 189, 0.2);
    box-sizing: border-box;
    box-shadow: -5px 5px 10px rgba(14, 17, 16, 0.2), 5px -5px 10px rgba(14, 17, 16, 0.2), -5px -5px 10px rgba(54, 67, 62, 0.9), 5px 5px 13px rgba(14, 17, 16, 0.9), inset 1px 1px 2px rgba(54, 67, 62, 0.3), inset -1px -1px 2px rgba(14, 17, 16, 0.5);
    border-radius: 10px;
    color: #F2F3F2;
    margin-top: 90%;
}